.file-drop-dragging-over-frame {
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 9999999999;               
  width: 100%;
  height: 100%;         
  background-color: rgba(0,0,0,0);

  animation: glow .5s;
  animation-fill-mode: forwards;
}

@keyframes glow {
  to {
    background-color: rgba(0,155,0,0.5);
  }
}



.primary-track-table-drag-over {
  background-color: rgba(0,0,0,0);

  animation: glow .5s;
  animation-fill-mode: forwards;
}


.primary-track-row .delete-button {
  cursor: pointer;
}

.primary-track-row .edit-button {
  cursor: pointer;
}

.primary-track-row .edit-buttons {
  visibility: hidden;
}

.primary-track-row:hover .edit-buttons {
  visibility: visible;
}

.primary-track-row-drag-over {
  border-bottom: 2px solid green;
}

.primary-track-row-dragging {
  opacity: 0.5;
}

.primary-track-row-draggable:hover {
  cursor: pointer;
}
